* {
  box-sizing: border-box;
}

html,
body {
  background-color: #1c1b17;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(165deg, #222019 0%, #1c1b17 45%, #1a1916 100%);
}
